<h4>API /v1/pendekkan/ success json</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/pendekkan?panjang=http%3A%2F%2Fnba.com&format=json"></iframe>
<h4>API /v1/pendekkan/ failure json</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/pendekkan?panjang=http%3A%2F%2Fbit.ly&format=json"></iframe>
<h4>API /v1/pendekkan/ success text</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/pendekkan?panjang=http%3A%2F%2Fnba.com&format=teks"></iframe>
<h4>API /v1/pendekkan/ failure text</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/pendekkan?panjang=http%3A%2F%2Fbit.ly&format=teks"></iframe>
<hr/>
<h4>API /v1/panjangkan/ success json</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/panjangkan?pendek=<%= appHost %>%2F12&format=json"></iframe>
<h4>API /v1/panjangkan/ failure json</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/panjangkan?pendek=<%= appHost %>%2F-&format=json"></iframe>
<h4>API /v1/panjangkan/ success text</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/panjangkan?pendek=<%= appHost %>%2F12&format=teks"></iframe>
<h4>API /v1/panjangkan/ failure text</h4>
<iframe height="50px" width="800px" src="<%= appHost %>/v1/panjangkan?pendek=<%= appHost %>%2F-&format=teks"></iframe>
<hr/>
<h4>Bookmarklet</h4>
<iframe height="400px" width="800px" src="<%= appHost %>/?pranala=http%3A%2f%2fnba.com"></iframe>